/* .head{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 412px;
    height: 253px;
    text-align: center;
    position: relative;
    left: 374px;
    font-size: xx-large;
}

 */
